@model List<User>

<table>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>City</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.UserName</td>
            <td>@item.Age</td>
            <td>@item.Gender</td>
            <td>@item.City</td>
        </tr>
    }
</table>